<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="page">
            <header class="header">
                <div class="container">
                    <nav class="header__menu menu">
                        <div class="menu__icon icon-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="menu__body">
                            <ul class="menu__list">
                                {% if user.is_authenticated %}
                                <li><a href="/home" class="menu__link">Посты</a></li>
                                <li><a href="/logout" class="menu__link">Выйти</a></li>
                                {% else %}
                                <li><a href="/" class="menu__link">Главная</a></li>
                                <li><a href="/login" class="menu__link">Войти</a></li>
                                <li><a href="/sign-up" class="menu__link">Регистрация</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}

            <footer class="footer">
                <div class="container">
                    
                </div>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>