@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:active {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 280px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Rubik", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-width: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  background: #EEDFD6;
}

.content_iphone {
  min-height: 600px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

body.lock {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 5;
  background: #EEDFD6;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list li {
  margin: 0 12.5px;
}

.menu__link {
  font-size: 16px;
  color: #460C1E;
  font-weight: 400;
  line-height: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  color: #b15c79;
}

.sign-up {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up__title {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #460C1E;
  margin: 0 0 25px 0;
}

.form {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 50px;
  position: relative;
}

.form_wide {
  padding: 0;
  padding: 50px;
  max-width: 800px;
  width: 800px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__item {
  margin: 0 0 15px 0;
}

.form__label {
  color: #460C1E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form__input {
  display: block;
  padding: 7px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  width: 275px;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #460C1E;
  color: #460C1E;
}

.form__input._error {
  background: rgba(255, 116, 116, 0.25);
  border: 2px solid #6e1833;
}

.form__button {
  margin: 5px 0 0 0;
  background: #C39571;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 16px;
  color: #fff;
  width: 275px;
  padding: 11px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form__button:hover {
  background: #8f694d;
  color: #a7a7a7;
}

@media (max-width: 424px) {
  .form {
    padding: 40px;
  }
  .form__input {
    width: 200px;
  }
  .form__button {
    width: 200px;
  }
}

#webcam {
  background: #000;
  position: absolute;
  top: 65px;
  right: 62px;
  border: 2px solid #460C1E;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

#webcam-btn {
  position: absolute;
  top: 240px;
  right: 62px;
}

#webcam-start {
  position: absolute;
  top: 240px;
  right: 250px;
}

#canvas {
  position: absolute;
  bottom: 65px;
  right: 62px;
  background: #fff;
  text-align: center;
  border: 2px solid #460C1E;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.login {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__title {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #460C1E;
  margin: 0 0 25px 0;
}

.alert {
  text-align: center;
  font-size: 20px;
  padding: 15px 0;
  color: #460C1E;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation: fade 4s ease;
          animation: fade 4s ease;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.notes {
  padding: 50px 0;
}

.notes__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #460C1E;
  text-align: center;
  padding: 25px 0 0 0;
}

.notes__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.notes__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

.notes__list li {
  margin: 25px 0 0 0;
  min-height: 75px;
  background: #460C1E;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 25px;
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  word-wrap: break-word;
}

.notes__list li pre {
  margin: 25px 0 0 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  white-space: pre-wrap;
  line-height: 20px;
}

.notes__delete {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  padding: 6px 0;
  width: 120px;
  background: #C39571;
  color: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  line-height: 17px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.notes__delete:hover {
  background: #8f694d;
  color: #a7a7a7;
}

.notes__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.notes__textarea {
  width: 100%;
  min-height: 150px;
  padding: 25px 25px 50px 25px;
  font-size: 14px;
  resize: vertical;
  background: #FFFFFF;
  border: 2px solid #460C1E;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.notes__send {
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 6px 0;
  width: 140px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #C39571;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.notes__send:hover {
  background: #8f694d;
  color: #a7a7a7;
}

.main-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.main-block__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: #460C1E;
  -webkit-border-radius: 0px 50px 50px 0px;
          border-radius: 0px 50px 50px 0px;
  height: 400px;
}

.main-block__column_white {
  background: #FFFFFF;
  -webkit-border-radius: 50px 0px 0px 50px;
          border-radius: 50px 0px 0px 50px;
}

.main-block__label {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin: 0 0 50px 0;
}

.main-block__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #460C1E;
  background: #fff;
  width: 300px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin: 0 0 16px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-block__btn:hover {
  background: #a7a7a7;
}

.main-block__btn_brown {
  margin: 0;
  background: #C39571;
  color: #fff;
}

.main-block__btn_brown:hover {
  background: #8f694d;
  color: #a7a7a7;
}

.main-block__text {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 25px 0 0 0;
  padding: 0 50px;
}

@media (max-width: 1023px) {
  .main-block__row {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .main-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .main-block__label {
    margin: 0 0 25px 0;
  }
  .main-block__column {
    padding: 50px 15px;
    -webkit-border-radius: 0 0 50px 50px;
            border-radius: 0 0 50px 50px;
  }
  .main-block__column_white {
    -webkit-border-radius: 50px 50px 0 0;
            border-radius: 50px 50px 0 0;
  }
}

@media (max-width: 424px) {
  .main-block__logo img {
    max-width: 100%;
  }
  .main-block__btn {
    width: 200px;
  }
}

.footer {
  min-height: 50px;
  background: #460C1E;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
}
